# Tested on Ubuntu 23.04 using Python 3.11.4

feedparser      # parse atom feed from arXiv request
setuptools      

google-genai    # query Google llms through Gemini API

psycopg2        # connect to PostgreSQL db

pypdf           # process pdfs

python-dotenv   # for environment variables
ipykernel       # for running Jupyter notebooks