# Tested on Windows 11 using Python 3.12.10

python-dotenv   # for environment variables
ipykernel       # for running Jupyter notebooks
google-genai    # query Google llms through Gemini API
setuptools